gl2ps/debian/.debhelper/
gl2ps/debian/debhelper-build-stamp
gl2ps/debian/files
gl2ps/debian/libgl2ps-dev.substvars
gl2ps/debian/libgl2ps-dev/
gl2ps/debian/libgl2ps-doc.substvars
gl2ps/debian/libgl2ps-doc/
gl2ps/debian/libgl2ps1.4.substvars
gl2ps/debian/libgl2ps1.4/
gl2ps/debian/tmp/
gl2ps/gl2ps.aux
gl2ps/gl2ps.out
gl2ps/gl2ps.pdf
gl2ps/gl2ps.toc
gl2ps/obj-x86_64-linux-gnu/
gl2ps_1.4.0+dfsg1-1.dsc
gl2ps_1.4.0+dfsg1-1_amd64.build
gl2ps_1.4.0+dfsg1-1_amd64.buildinfo
gl2ps_1.4.0+dfsg1-1_amd64.changes
libgl2ps-dev_1.4.0+dfsg1-1_amd64.deb
libgl2ps-doc_1.4.0+dfsg1-1_all.deb
libgl2ps1.4-dbgsym_1.4.0+dfsg1-1_amd64.ddeb
libgl2ps1.4_1.4.0+dfsg1-1_amd64.deb
